<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
     {% include header.html %}

    <div class="blog-theme-class">
        <div class="banner-align-bottom-parent">
            <div class="banner-align-bottom-child">
                <div class="badge-right description">
                    {{site.description}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        {{ content }}
    </div>
    <div class="col-md-12">
    {% include footer.html %}
    </div>
    <div class="col-md-12">
    {% include endfooter.html %}
    </div>
    {% include include_js.html %}
    
  </body>

</html>
